<div class="container color-light">
  <div class="row">
    <div class="pic col-3"><img src="../../assets/1.jpg" alt="pic1"></div>
    <div class="pic col-3"><img src="../../assets/2.jpg" alt="pic2"></div>
    <div class="pic col-3"><img src="../../assets/3.jpg" alt="pic3"></div>
  </div>
  <div class="row">
    <div class="pic col-3"><img src="../../assets/4.jpg" alt="pic4"></div>
    <div class="pic col-3"><img src="../../assets/5.jpg" alt="pic5"></div>
    <div class="pic col-3"><img src="../../assets/6.jpg" alt="pic6"></div>
  </div>
</div>
